<!doctype html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>VueJS Tutorials</title>
  <link rel="stylesheet" href="styles.css">
  <script src="https://unpkg.com/vue"></script>
</head>
<body>

  <div id="vue-app">
    <h1>Looping through lists</h1>
    <ul>
      <li v-for="character of characters">
        {{ character }}
      </li>
    </ul>

    <ol>
      <li v-for="(ninja, index) in ninjas">
        {{ index }}. {{ ninja.name }} - {{ ninja.age }}
      </li>
    </ol>

    <!--  template tells vue to only take what is inside  -->
    <template v-for="(ninja, index) in ninjas">
      <h3>
        {{ index }} . {{ ninja.name }}
      </h3>
      <p>
        {{ ninja.age }}
      </p>
    </template>
    <!--    -->

    <template>
      <div  v-for="ninja in ninjas">
        <p v-for="(val, key) in ninja">
          {{ key }} - {{ val }}
        </p>
      </div>
    </template>



    </div>

  </div>

  <script>
    new Vue ({
      el: '#vue-app',
      data: {
        characters: ['Mario', 'Luigi', 'Yoshi', 'Bowser'],
        ninjas: [
          {
            name: 'Ryu', age: 25
          },
          {
            name: 'Yoshi', age: 35
          },
          {
            name: 'Ken', age: 55
          }
        ]
      },
      methods: {

      },
      computed: {

      }
    });
  </script>
</body>
</html>
